<%= form_with model: @monologue, local: true, url: new_or_edit_path do |form| %>
<% if @monologue.errors.any? %>
	<ul class="error-list">
		<% @monologue.errors.full_messages.each do |msg| %>
			<li class="alert alert-danger col-xs-8"><%= msg %></li>
		<% end %>
	</ul>
<% end %>

    <div><%= form.text_field :content, size: 120 %></div>
    <%= form.submit new_or_edit_submit_message, class: 'btn btn-warning' %>
<% end %>